pipeline/blob_to_databricks.json
{
	"name": "blob_to_databricks",
	"properties": {
		"activities": [
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Notebook1",
							"type": "DatabricksNotebook",
							"dependsOn": [
								{
									"activity": "Stored procedure3",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": {
									"value": "@item().databricks_notebook_path",
									"type": "Expression"
								},
								"baseParameters": {
									"filename_config": {
										"value": "@item().config_filename",
										"type": "Expression"
									},
									"filename_dataset": {
										"value": "@item().source_tablename",
										"type": "Expression"
									},
									"config_path": {
										"value": "@item().config_file_path",
										"type": "Expression"
									},
									"dataset_path": {
										"value": "@item().source_path",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureDatabricks1",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Stored procedure1",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Notebook1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[updtde_status_activity]"
							},
							"linkedServiceName": {
								"referenceName": "lookup_metadata",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Stored procedure2",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Notebook1",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[updtde_status_activity_Failed]"
							},
							"linkedServiceName": {
								"referenceName": "lookup_metadata",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "checking_file_path",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "getmetadatadataset",
									"type": "DatasetReference",
									"parameters": {
										"config_file_path": {
											"value": "@item().config_file_path",
											"type": "Expression"
										},
										"config_filename": "@item().config_filename"
									}
								},
								"fieldList": [
									"childItems"
								],
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							}
						},
						{
							"name": "Stored procedure3",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "checking_file_path",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[system_variables_execution]",
								"storedProcedureParameters": {
									"adf_name": {
										"value": {
											"value": "@pipeline().DataFactory",
											"type": "Expression"
										},
										"type": "String"
									},
									"pipeline_name": {
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										},
										"type": "String"
									},
									"run_date": {
										"value": {
											"value": "@pipeline().TriggerTime",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"id_no": {
										"value": {
											"value": "@item().id_no",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"destination_tablename": {
										"value": {
											"value": "@item().destination_tablename",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "lookup_metadata",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			},
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select id_no,config_filename,source_tablename,config_file_path,source_path,databricks_notebook_path,destination_tablename from dbo.metadata_table where disabled_key != 1",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlTable2",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			}
		],
		"variables": {
			"filename_config": {
				"type": "String"
			},
			"filename_dataset": {
				"type": "String"
			},
			"config_path": {
				"type": "String"
			},
			"dataset_path": {
				"type": "String"
			},
			"sequence_id": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2022-04-29T05:00:29Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}